scopeName: "source.satysfi"
name: "SATySFi"
fileTypes: [
  "saty",
  "satyh"
]
patterns: [
  {
    include: "#markup"
  }
  {
    # The program layer seems to have a dedicated file extension "satyh"
    # althoguh I'm not familiar with the language spec.
    # This program repository might be migrated into another CSON in the future.
    include: "#program"
  }
]
repository:
  program:
    patterns: [
      {
        include: "#primitiveType"
      }
      {
        include: "#operator"
      }
    ]
  primitiveType:
    match: "\\b(unit|bool|int|float|length|string|inline-(?:text|boxes))\\b"
    name: "storage.type.primitive.satysfi"
  operator:
    patterns: [
      {
        match: "(\\+|-)\\."
        name: "keyword.operator.arithmetic.float.satysfi"
      }
      {
        match: "(\\+|-|\\*|/)'"
        name: "keyword.operator.arithmetic.length.satysfi"
      }
      {
        match: "(<|>)'"
        name: "keyword.operator.comparison.length.satysfi"
      }
      {
        match: "(\\+|-|\\*|/|mod)"
        name: "keyword.operator.arithmetic.int.satysfi"
      }
      {
        match: "((?:<|=|>)=|<>|<|>)"
        name: "keyword.operator.comparison.int.satysfi"
      }
      {
        match: "(&&|\\|\\||not)"
        name: "keyword.operator.logical.satysfi"
      }
    ]
  markup:
    patterns: [
      {
        include: "#comment"
      }
      {
        include: "#packageLoading"
      }
      {
        # This will be divided into several parts with more comprehensive names
        # once I get familiar with the grammar.
        include: "#misc"
      }
    ]
  comment:
    match: "%.*"
    name: "comment.line.percentage.satysfi"
  packageLoading:
    match: "@(import|require):"
    name: "keyword.control.$1.satysfi"
  misc:
    patterns: [
      {
        begin: "(document)\\s+\\(\\|"
        beginCaptures:
          1:
            name: "keyword.other.document.satysfi"
        end: "\\|\\)"
        patterns: [
          {
            match: "(title|author)\\s*(=)\\s*(.+);"
            captures:
              1:
                name: "keyword.other.document-metadata.$1.satysfi"
              2:
                name: "punctuation.separator.key-value.satysfi"
          }
          {
            match: "(show-(?:title|toc))\\s*(=)\\s*(true|false);"
            captures:
              1:
                name: "keyword.other.document-metadata.$1.satysfi"
              2:
                name: "punctuation.separator.key-value.satysfi"
              3:
                name: "constant.language.boolean.$3.satysfi"
          }
        ]
      }
      {
        begin: "{"
        beginCaptures:
          0:
            name: "punctuation.definition.argument.inline-direction.begin.satysfi"
        end: "}"
        endCaptures:
          0:
            name: "punctuation.definition.argument.inline-direction.end.satysfi"
      }
      {
        begin: "(\\+(section))\\s*(?:\\?:\\(`(.*?)`\\))?\\s*{.*?}(<)"
        beginCaptures:
          1:
            name: "markup.heading.$2.satysfi"
          3:
            name: "constant.other.label.satysfi"
          4:
            name: "punctuation.definition.argument.box-direction.begin.satysfi"
        end: ">"
        endCaptures:
          0:
            name: "punctuation.definition.argument.box-direction.end.satysfi"
        patterns: [
          {
            include: "$self"
          }
        ]
      }
      {
        begin: "(\\+pn?)({)"
        beginCaptures:
          1:
            name: "support.other.paragraph.satysfi"
          2:
            name: "punctuation.definition.argument.inline-direction.begin.satysfi"
        end: "}"
        endCaptures:
          0:
            name: "punctuation.definition.argument.inline-direction.end.satysfi"
        patterns: [
          {
            include: "$self"
          }
        ]
      }
      {
        begin: "(\\+listing)({)"
        beginCaptures:
          1:
            name: "support.other.listing.itemize.satysfi"
          2:
            name: "punctuation.definition.argument.inline-direction.begin.satysfi"
        end: "}"
        endCaptures:
          0:
            name: "punctuation.definition.argument.inline-direction.end.satysfi"
        patterns: [
          {
            match: "^\\s*(\\*+)\\s+"
            captures:
              1:
                name: "variable.unordered.list.satysfi"
          }
          {
            include: "$self"
          }
        ]
      }
    ]
